crash-course/demo-solutions/*.png
crash-course/hr-diagram/solutions/*.png
workshop/plotting/*.png
workshop/data-fitting/*.txt
workshop/advanced-functions-parallelization/__pycache__
workshop/astro-examples/*.jpg
.ipynb_checkpoints
raw.githubusercontent.com
special-workshops/palma-2026/kiss_dataframe*.csv